@import url("./fonts/fonts.css");

* {
    box-sizing: border-box;
}

:root {
    --primary_clr: black;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    background-color: var(--primary_clr);
    color: white;
    text-align: center;
    padding: 40px;
}

.basliq {
    font-size: 3rem;
}


/* nav part */

nav {
    display: flex;
}

.nav-link {
    padding: 6px;
    flex-grow: 1;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid;
    background-color: rgb(60, 2, 2);
}

.nav-link:hover {
    background-color: rgb(16, 10, 10);
}

/* main */
main {
    padding: 10px;
}

.section1 {
    border: 1px solid;
}

.section1>img {
    width: 100%;
    max-width: 800px;
}
